<section id="contato">
  <div class="card">
    <h2>Contato</h2>
    <p>Diego </p>
    <p>Desenvolvedor Full Stack</p>
    <p>Java • Spring Boot • Angular • MySQL</p>
    <p>Email: alexandrediego35&#64;gmail.com</p>
    <p>Telefone: (43) 99612-7903</p>
    <p>Marilândia do Sul – PR</p>
    <a
      class="botao"
      href="https://www.linkedin.com"
      target="_blank"
      rel="noopener"
      >LinkedIn</a
    >
    <a
      class="botao github"
      href="https://github.com/diegoalexandre2"
      target="_blank"
      rel="noopener"
      >GitHub</a
    >
  </div>
</section>

