
<section id="contato">
  <div class="card contato-card">
    <div class="contato-info">
      <h2>Vamos conversar?</h2>
      <p class="contato-subtitle">
        Aberto a oportunidades como <strong>Desenvolvedor Full Stack</strong>,.
      </p>

      <ul class="contato-dados">
        <li>
          <span class="label">Nome</span>
          <span>Diego Alexandre</span>
        </li>
        <li>
          <span class="label">E-mail</span>
          <a href="mailto:alexandrediego35@gmail.com"
            >alexandrediego35&#64;gmail.com</a
          >
        </li>
        <li>
          <span class="label">Telefone</span>
          <a href="tel:+5543996127903">(43) 99612-7903</a>
        </li>
        <li>
          <span class="label">Localização</span>
          <span>Marilândia do Sul – PR</span>
        </li>
      </ul>
    </div>

    <div class="contato-acoes">
      <p class="contato-texto">
        Caso tenha interesse em conversar sobre vagas ou projetos, você pode
        entrar em contato pelos canais abaixo.
      </p>

      <div class="contato-botoes">
        <a
          class="botao linkedin"
          href="https://www.linkedin.com"
          target="_blank"
          rel="noopener"
          >LinkedIn</a
        >
        <a
          class="botao github"
          href="https://github.com/diegoalexandre2"
          target="_blank"
          rel="noopener"
          >GitHub</a
        >
      </div>
    </div>
  </div>
</section>
